<%- include('include/header') -%>

<% 

class ValideMatch {
    #local_note
    #visitor_note
    #local_tilt
    #visitor_tilt
    #delta_tilt
    #classe = 'table-default';
    #ouverture = '';

    constructor(local_note, visitor_note, local_tilt, visitor_tilt){
        this.#local_note = parseInt(local_note);
        this.#visitor_note = parseInt(visitor_note);
        this.#local_tilt = parseInt(local_tilt);
        this.#visitor_tilt = parseInt(visitor_tilt);
        this.#delta_tilt = Math.abs(parseInt(local_tilt) - parseInt(visitor_tilt))
        this.#initializeOuverture();
    }

    #initializeOuverture() {
        let maxDeltaTilt = 25;
        let strictDeltaTilt = 10;
        let maxTilt = 50;
        let minNote = 40;
        if (this.#delta_tilt <= maxDeltaTilt && 
            this.#local_tilt < maxTilt && this.#local_tilt > -maxTilt && 
            this.#visitor_tilt < maxTilt && this.#visitor_tilt > -maxTilt) {     

            if (this.#local_tilt < this.#visitor_tilt) {
                if (this.#local_note < minNote) {
                    this.#ouverture = '1N ' + this.#local_note;
                    this.#classe = 'table-info';
                } else {
                    this.#ouverture = '1N';
                    this.#classe = 'table-success';
                }
            }
            else if (this.#visitor_tilt < this.#local_tilt) {
                if (this.#visitor_note < minNote) {
                    this.#ouverture = 'N2 ' + this.#visitor_note;
                    this.#classe = 'table-info';
                } else {
                    this.#ouverture = 'N2';
                    this.#classe = 'table-success';
                }
            }
        } else if (this.#delta_tilt <= strictDeltaTilt && 
            ((this.#local_tilt > maxTilt || this.#local_tilt < -maxTilt) ||
            (this.#visitor_tilt > maxTilt || this.#visitor_tilt < -maxTilt))) {     

            if (this.#local_tilt < this.#visitor_tilt) {
                if (this.#local_note < minNote) {
                    this.#ouverture = '1N ' + this.#local_note + ' Δ' + this.#delta_tilt + '%';
                    this.#classe = 'table-warning';
                } else {
                    this.#ouverture = '1N Δ' + this.#delta_tilt + '%';
                    this.#classe = 'table-warning';
                }
            }
            else if (this.#visitor_tilt < this.#local_tilt) {
                if (this.#visitor_note < minNote) {
                    this.#ouverture = 'N2 ' + this.#visitor_note + ' Δ' + this.#delta_tilt + '%';
                    this.#classe = 'table-warning';
                } else {
                    this.#ouverture = 'N2 Δ' + this.#delta_tilt + '%';
                    this.#classe = 'table-warning';
                }
            }
        }
    }

    getClasse(){
        return this.#classe;
    }

    getOuverture(){
        return this.#ouverture;
    }
}

%> 

<form action="" method="post">
    <div class="row">

        <div class="col-4">
            <div class="input-group">
                <select name="sel_file" id="sel_file" class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Open</option>
                  <% files.forEach(element => { %>
                    <option value="<%= element %>"><%= element %></option>
                <% }); %> 
                </select>
                <div class="input-group-append">
                  <input class="btn btn-outline-secondary" type="submit" value="Am">
                </div>
            </div>
        </div>
        

    </div>
</form>

<br>

<% if(data){ %> 

    <div class="row">
        <div class="col-12" style="text-align: center;">
            <h1><%= moment(data[0].date).format("llll")  %></h1>
        </div>
    </div>

 
        <table class="table table-striped table-bordered border-secondary" data-toggle="table" data-search="true" data-pagination="true" style="text-align: center;">
            <thead>
                <tr>
                    <th data-sortable="true" scope="col">TIME</th>
                    <th data-sortable="true" scope="col">LEAGUE</th>
                    <th scope="col">TEAMS</th>
                    <th scope="col">OUVERTURE</th>
                    <th scope="col">xG</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(el=> {  
                    dateTime = el.date + ' ' + el.time
                    id = el.id
                    const p1 = new ValideMatch(el.local_note, el.visitor_note, el.local_tilt,  el.visitor_tilt);
                %>
                    <tr>
                        <td>
                            <%= moment(dateTime).subtract(1,'h').format("HH:mm") %>
                        </td>
                        <td>
                            <%= (el.name_compet).substring(0, 25) %> <% if(el.coef_competition) { %>  <% } %>
                        </td>
                        <td>
                            <%= (el.local_team).substring(0, 15) %> - <%= (el.visitor_team).substring(0, 15) %>
                        </td>
                        <td class="<%= p1.getClasse() %>">
                            <%= p1.getOuverture() %>
                        </td>
                        <td>
                            <%= parseFloat(el.local_goal_predict).toFixed(2) %> / <%= parseFloat(el.visitor_goal_predict).toFixed(2) %>
                        </td>
                    </tr>
                <%  }); %>
            </tbody>
        </table>
        <br>
        <p><code>GOOD IS GREEN X2, WITHOUT ISOLATED FALL</code></p>
<% } %>

<%- include('include/footer') -%>