<%- include('include/header') -%>

    <div class="row">
        <div class="col-12" style="text-align: center;">
            <h1><%= moment(data[0].date).format("llll")  %></h1>
        </div>
    </div>

 
        <table class="table table-striped table-bordered border-secondary" data-toggle="table" data-search="true" data-pagination="true">
            <thead>
                <tr>
                    <th scope="col">TIME</th>
                    <th data-sortable="true" scope="col">LEAGUE</th>
                    <th scope="col">TEAMS</th>
                    <th scope="col">LOCAL ELO</th>
                    <th scope="col">VISITOR ELO</th> 
                    <th scope="col">1</th>
                    <th scope="col">2</th>                   
                </tr>
            </thead>
            <tbody>
                <% data.forEach(element=> {  dateTime = element.date + ' ' + element.time; %>
                    <tr>
                        <td>
                            <%= moment(dateTime).subtract(1,'h').format("HH:mm") %>
                        </td>
                        <td>
                            <%= (element.name_compet).substring(0, 30) %>
                        </td>
                        <td>
                            <%= element.local_team %> - <%= element.visitor_team %>
                        </td>
                        </td>
                        <td>
                            <%= parseInt(element.local_elo) %>
                        </td>
                        <td>
                            <%= parseInt(element.visitor_elo) %>
                        </td>
                        <td>
                            <%= parseFloat(element.l_avg_xG2_10).toFixed(2) %>
                        </td>
                        <td>
                            <%= parseFloat(element.v_avg_xG2_10).toFixed(2) %>
                        </td>
                        
                    </tr>
                <% }); %>
            </tbody>
        </table>

<%- include('include/footer') -%>