<%- include('include/header_detail') -%>
                <style>
                    h6
                    {
                        text-align: center;
                    }
                </style>

                <% 
                
                function numAverage(a) {
                    var b = a.length,
                        c = 0, i;
                    for (i = 0; i < b; i++){
                      c += Number(a[i]);
                    }
                    return parseFloat((c/b).toFixed(2));
                  } 
                  
                function one_to_many_tab(tab){
                    all1 = []
                    allX = []
                    all2 = []
                    tab.forEach(un_tab => {
                        all1.push(un_tab[un_tab.length-3]),
                        allX.push(un_tab[un_tab.length-2]),
                        all2.push(un_tab[un_tab.length-1])
                    });
                    
                    return [all1, allX, all2];
                  }

                function dropping_me(odd_arrive, odd_depart){
                    return parseFloat(((odd_arrive - odd_depart)/(odd_depart - 1)*100).toFixed(2))
                }
                function dropping_me_modif(odd_arrive, odd_depart){
                    var res = parseFloat(((odd_arrive - odd_depart)/(odd_depart - 1)*100).toFixed(2))

                    if(res < 0){
                        res = -1
                    }
                    else if(res > 0){
                        res = 1
                    }
                    else{
                        res = 0
                    }

                    return res;
                }

                function percent_to_odd(percent){
                    return 1 / percent * 100
                }

                function odds_to_percent(odds){
                    return 1 / odds * 100
                }

                function double_chance(first_odd, second_odd){
                    return (first_odd*second_odd)/(first_odd+second_odd)
                }

                function ecart_type(tab){
                    eff = tab.length,
                    moyenne = numAverage(tab),
                    tab_carre = [],
                    tab.forEach(element => {
                        a = (element - moyenne)**2
                        tab_carre.push(a)
                    });
                    sum_carre = 0
                    tab_carre.forEach(element => {
                        sum_carre = sum_carre + element
                    });
                    return sum_carre / eff
                }

                function my_max(tab){
                    nb_max = 0
                    tab.forEach(element => {
                        if(element > nb_max){
                            nb_max = element
                        }
                    });
                    return nb_max;
                }

                function my_min(tab){
                    nb_min = 100
                    tab.forEach(element => {
                        if(element < nb_min && element != 0){
                            nb_min = element
                        }
                    });
                    return nb_min;
                }

                function im_positive(my_number){
                    var res;
                    if(parseFloat(my_number) > 0){
                        res = "table-success";
                    }
                    else if(parseFloat(my_number) < 0){
                        res = "table-danger";
                    }
                    else if(parseFloat(my_number) < -1 || parseFloat(my_number) > 1){
                        res = "table-warning";
                    }
                    else{
                        res = "table-default";
                    }
                    return res;
                }

                function good_form(form){
                    if (parseFloat(form) > 50 && parseFloat(form) < 60) {
                        return "table-success";
                    } else if (parseFloat(form) > 44) {
                        return "table-info";
                    } else if (parseFloat(form) < 25) {
                        return "table-danger";
                    }
                }

                %> 

                <% 
                history_book = []
                all_opening_1 = []
                all_opening_X = []
                all_opening_2 = []
                all_drop_1 = []
                all_drop_X = []
                all_drop_2 = []
                nd_all_opening_1 = []
                nd_all_opening_X = []
                nd_all_opening_2 = []
                fi_all_opening_1 = []
                fi_all_opening_X = []
                fi_all_opening_2 = []
                history_amount = []
                opening_of_each_book = []
                live_of_each_book = []
                five_to_end_each_book = []
                five_to_end_each_book_val = false
                change_mode = false
                bool_aff_diff = false;
                nb_book = 0

                if(coteFte.length == 3){
                    my_odd_1 = percent_to_odd(coteFte[0])
                    my_odd_X = percent_to_odd(coteFte[1])
                    my_odd_2 = percent_to_odd(coteFte[2])
                    bool_aff_diff = true;
                }

                if(coteBe.length == 3){
                    my_oddBe_1 = percent_to_odd(coteBe[0])
                    my_oddBe_X = percent_to_odd(coteBe[1])
                    my_oddBe_2 = percent_to_odd(coteBe[2])
                    bool_aff_diff = true;
                }

                if (coteBasic.length == 3) {
                    my_oddBas_1 = percent_to_odd(coteBasic[0])
                    my_oddBas_X = percent_to_odd(coteBasic[1])
                    my_oddBas_2 = percent_to_odd(coteBasic[2])
                    bool_aff_diff = true;
                }

                Object.keys(items).forEach(function(book){ 

                    if (book == 'Betfair') {
                        history_exchange_back = items[book]['history_exchange_back'];

                        history_exchange_back.forEach(un_history => {
                            amount_1 = un_history['amount_1']
                            amount_X = un_history['amount_X']
                            amount_2 = un_history['amount_2']
                            date_time = moment(un_history['updated']).format('lll')
                            history_amount.push([date_time, amount_1, amount_X, amount_2])
                        });
                    }
                    
                    if(book != 'Betfair' ){ 

                        nb_book += 1;

                        live = items[book].live
                        all_drop_1.push(live['1'])
                        all_drop_X.push(live['X'])
                        all_drop_2.push(live['2'])

                        history = items[book].history,
                        all_opening_1.push(parseFloat(history[history.length -1]['1']))
                        all_opening_X.push(history[history.length -1]['X'])
                        all_opening_2.push(history[history.length -1]['2']);

                        if (history.length > 2){
                            nd_all_opening_1.push(history[history.length -2]['1'])
                            nd_all_opening_X.push(history[history.length -2]['X'])
                            nd_all_opening_2.push(history[history.length -2]['2'])
                        }

                        if (history.length > 5){
                            fi_all_opening_1.push(history[5]['1'])
                            fi_all_opening_X.push(history[5]['X'])
                            fi_all_opening_2.push(history[5]['2'])

                            fi_nb_opening_1 = history[5]['1']
                            fi_nb_opening_X = history[5]['X']
                            fi_nb_opening_2 = history[5]['2']

                            five_to_end_each_book.push([book, fi_nb_opening_1, fi_nb_opening_X, fi_nb_opening_2])
                            five_to_end_each_book_val = true
                        }
                        
                        history_odd_1 = [],
                        history_odd_X = [],
                        history_odd_2 = [],
                        

                        history.forEach(un_history => {
                            history_odd_1.push(un_history['1'])
                            history_odd_X.push(un_history['X'])
                            history_odd_2.push(un_history['2'])
                        });

                        history_book.push([book, numAverage(history_odd_1), numAverage(history_odd_X), numAverage(history_odd_2)])

                        opening_of_each_book.push([book, history[history.length -1]['1'], history[history.length -1]['X'], history[history.length -1]['2']])
                        live_of_each_book.push([book, live['1'], live['X'], live['2'], live['updated']])
                        
                        //console.log(opening_of_each_book.length, live_of_each_book.length);
                    }; 
                    
                }); 
                        
                        tab_of_all_history_book = one_to_many_tab(history_book),

                        history_book_1 = tab_of_all_history_book[0],
                        history_book_X = tab_of_all_history_book[1],
                        history_book_2 = tab_of_all_history_book[2],

                        average_odd_1 = numAverage(history_book_1), 
                        average_odd_X = numAverage(history_book_X), 
                        average_odd_2 = numAverage(history_book_2),

                        average_opening_1 = numAverage(all_opening_1),
                        average_opening_X = numAverage(all_opening_X),
                        average_opening_2 = numAverage(all_opening_2),

                        max_opening_1 = my_max(all_opening_1),
                        max_opening_X = my_max(all_opening_X),
                        max_opening_2 = my_max(all_opening_2),

                        min_opening_1 = my_min(all_opening_1),
                        min_opening_X = my_min(all_opening_X),
                        min_opening_2 = my_min(all_opening_2),
                        
                        ecart_type_1 = ecart_type(all_opening_1),
                        ecart_type_X = ecart_type(all_opening_X),
                        ecart_type_2 = ecart_type(all_opening_2),

                        percent_opening_1 = odds_to_percent(average_opening_1),
                        percent_opening_X = odds_to_percent(average_opening_X),
                        percent_opening_2 = odds_to_percent(average_opening_2),

                        new_percent_opening_1 = percent_opening_1 + (percent_opening_X/2),
                        new_percent_opening_2 = percent_opening_2 + (percent_opening_X/2),

                        new_opening_1 = percent_to_odd(new_percent_opening_1),
                        new_opening_2 = percent_to_odd(new_percent_opening_2),

                        nd_average_opening_1 = numAverage(nd_all_opening_1),
                        nd_average_opening_X = numAverage(nd_all_opening_X),
                        nd_average_opening_2 = numAverage(nd_all_opening_2),

                        fi_average_opening_1 = numAverage(fi_all_opening_1),
                        fi_average_opening_X = numAverage(fi_all_opening_X),
                        fi_average_opening_2 = numAverage(fi_all_opening_2),
                        
                        average_drop_1 = numAverage(all_drop_1),
                        average_drop_X = numAverage(all_drop_X),
                        average_drop_2 = numAverage(all_drop_2),

                        max_drop_1 = my_max(all_drop_1),
                        max_drop_X = my_max(all_drop_X),
                        max_drop_2 = my_max(all_drop_2),

                        min_drop_1 = my_min(all_drop_1),
                        min_drop_X = my_min(all_drop_X),
                        min_drop_2 = my_min(all_drop_2),

                        percent_drop_1 = odds_to_percent(average_drop_1),
                        percent_drop_X = odds_to_percent(average_drop_X),
                        percent_drop_2 = odds_to_percent(average_drop_2),

                        new_percent_drop_1 = percent_drop_1 + (percent_drop_X/2),
                        new_percent_drop_2 = percent_drop_2 + (percent_drop_X/2),

                        new_drop_1 = percent_to_odd(new_percent_drop_1),
                        new_drop_2 = percent_to_odd(new_percent_drop_2),
                         
                        //percent_drop_1 = ((average_drop_1 - average_opening_1)/(average_opening_1 - 1)*100).toFixed(2)
                        percent_drop_1 = dropping_me(average_drop_1, average_opening_1)
                        percent_drop_X = dropping_me(average_drop_X, average_opening_X)
                        percent_drop_2 = dropping_me(average_drop_2, average_opening_2)

                        first_percent_drop_1 = dropping_me(nd_average_opening_1, average_opening_1)
                        first_percent_drop_X = dropping_me(nd_average_opening_X, average_opening_X)
                        first_percent_drop_2 = dropping_me(nd_average_opening_2, average_opening_2)

            //console.log(.hometeam.name +"-"+ infos.awayteam.name +":"+ number_of_verity);
            %> 
            
        <br>
        <h3 style="text-align: center;">AVERAGE ODDS</h3>
        <br>
        <table class="table table-striped table-bordered border-secondary" data-toggle="table">
            <thead>
                <tr style="text-align: center;">
                    <th>Type</th>
                    <th>1 </th>
                    <th>N </th>
                    <th>2 </th>
                    <th>Margin </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Oppening  odds</td>
                    <td><%= average_opening_1 %></td>
                    <td><%= average_opening_X %></td>
                    <td><%= average_opening_2 %></td>
                    <td><%= ((1/average_opening_1 + 1/average_opening_X + 1/average_opening_2)*100-100).toFixed(2) %></td>
                </tr>
               
                <tr>
                    <td>Live odds</td>
                    <td><%= average_drop_1 %></td>
                    <td><%= average_drop_X %></td>
                    <td><%= average_drop_2 %></td>
                    <td><%= ((1/average_drop_1 + 1/average_drop_X + 1/average_drop_2)*100-100).toFixed(2) %></td>
                </tr>
                <tr>
                    <td>Dropping odds</td>
                    <td><%= percent_drop_1 %>% </td>
                    <td><%= percent_drop_X %>% </td>
                    <td><%= percent_drop_2 %>% </td>
                    <td><%= nb_book %> / 23</td>
                </tr>
            </tbody>
        </table>
        <br>

        

        <form action="" method="POST">
            <h5 style="text-align: center">PREDICTION PERCENT</h5>
            <br>
            <h6>Forme</h6>
            <div class="row justify-content-md-center" style="text-align: center">
                <div class="col">
                    <input placeholder="Percent 1" type="text" class="form-control" id="coteBe1" name="coteBe1" value=<% if(coteBe[0]){ %>"<%=
                    coteBe[0] %>"<%}%>>
                </div>
                <div class="col">
                    <input placeholder="Percent N" type="text" class="form-control" id="coteBeX" name="coteBeX" value=<% if(coteBe[1]){ %>"<%=
                    coteBe[1] %>"<%}%>> 
                </div>
                <div class="col">
                    <input placeholder="Percent 2" type="text" class="form-control" id="coteBe2" name="coteBe2" value=<% if(coteBe[2]){ %>"<%=
                    coteBe[2] %>"<%}%>>
                </div>
            </div>

            <br>
            <h6>Goals prédictions</h6>
            <div class="row justify-content-md-center" style="text-align: center">
                <div class="col">
                    <input class="form-control" type="text" placeholder="All goals with ' | '" name="all_xgs" value="<% if(allXgs) { %><%= allXgs %><% } %>">
                </div>
            </div>

            <!--<br>
            <h6>Goals prédiction</h6>
            <div class="row justify-content-md-center" style="text-align: center">
                <div class="col">
                    <input placeholder="Local goals" type="text" class="form-control" id="local_goal" name="local_goal" value=<% if(goals_predictions[0]){ %>"<%=
                    goals_predictions[0] %>"<%}%>>
                </div>
                <div class="col">
                    <input placeholder="Visitor goals" type="text" class="form-control" id="visitor_goal" name="visitor_goal" value=<% if(goals_predictions[1]){ %>"<%=
                    goals_predictions[1] %>"<%}%>>
                </div>
            </div>

            <br>
            <h6>Goals basic</h6>
            <div class="row justify-content-md-center" style="text-align: center">
                <div class="col">
                    <input placeholder="Local inclinaison" type="text" class="form-control" id="local_inc" name="local_inc" value=<% if(elo_inc[0]){ %>"<%=
                    elo_inc[0] %>"<%}%>>
                </div>
                <div class="col">
                    <input placeholder="Visitor inclinaison" type="text" class="form-control" id="visitor_inc" name="visitor_inc" value=<% if(elo_inc[1]){ %>"<%=
                    elo_inc[1] %>"<%}%>>
                </div>
            </div>-->

            <br>
            <div class="row justify-content-md-center">
                <div class="col col-6 col-md-1">
                    <button type="submit" class="btn btn-primary btn-sm">valider</button>
                </div>
            </div>
        </form>
        <br>

        <% if(bool_aff_diff){ %>
        <br>
        <h5 style="text-align: center">OPPENING / PREDICTION</h5>
        <br>
        <div class="row">
            <div class="col-4">
                <h6>Goals prediction</h6>
                <table style="text-align: center;" class="table table-striped table-bordered border-secondary" data-toggle="table">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col">Type</th>
                            <th scope="col">1</th>
                            <th scope="col">N</th>
                            <th scope="col">2</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr>
                            <td>Average</td>
                            <td class="<%= im_positive(dropping_me(average_opening_1, my_odd_1)) %>" > 
                                <%= dropping_me(average_opening_1, my_odd_1) %> %
                            </td>
                            <td class="<%= im_positive(dropping_me(average_opening_X, my_odd_X)) %>" >
                                <%= dropping_me(average_opening_X, my_odd_X) %> %
                            </td>
                            <td class="<%= im_positive(dropping_me(average_opening_2, my_odd_2)) %>" >
                                <%= dropping_me(average_opening_2, my_odd_2) %> %
                            </td>
                        </tr>
                        <tr>
                            <td>Max</td>
                            <td class="<%= im_positive(dropping_me(max_opening_1, my_odd_1)) %>" >
                                <%= dropping_me(max_opening_1, my_odd_1) %> %
                            </td>
                            <td class="<%= im_positive(dropping_me(max_opening_X, my_odd_X)) %>">
                                <%= dropping_me(max_opening_X, my_odd_X) %> %
                            </td>
                            <td class="<%= im_positive(dropping_me(max_opening_2, my_odd_2)) %>" >
                                <%= dropping_me(max_opening_2, my_odd_2) %> %
                            </td>
                        </tr>
                        <tr>
                            <td>Min</td>
                            <td class="<%= im_positive(dropping_me(min_opening_1, my_odd_1)) %>" >
                                <%= dropping_me(min_opening_1, my_odd_1) %> %
                            </td>
                            <td class="<%= im_positive(dropping_me(min_opening_X, my_odd_X)) %>" >
                                <%= dropping_me(min_opening_X, my_odd_X) %> %
                            </td>
                            <td class="<%= im_positive(dropping_me(min_opening_2, my_odd_2)) %>" >
                                <%= dropping_me(min_opening_2, my_odd_2) %> %
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <h6>Goals Basic</h6>
                <table style="text-align: center;" class="table table-striped table-bordered border-secondary" data-toggle="table">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col">Type</th>
                            <th scope="col">1</th>
                            <th scope="col">N</th>
                            <th scope="col">2</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr>
                            <td>Average</td>
                            <td class="<%= im_positive(dropping_me(average_opening_1, my_oddBas_1)) %>" > 
                                <%= dropping_me(average_opening_1, my_oddBas_1) %> % <% av1 = dropping_me(average_opening_1, my_oddBe_1) %>
                            </td>
                            <td class="<%= im_positive(dropping_me(average_opening_X, my_oddBas_X)) %>" >
                                <%= dropping_me(average_opening_X, my_oddBas_X) %> % <% avN = dropping_me(average_opening_X, my_oddBe_X) %>
                            </td>
                            <td class="<%= im_positive(dropping_me(average_opening_2, my_oddBas_2)) %>" >
                                <%= dropping_me(average_opening_2, my_oddBas_2) %> % <% av2 = dropping_me(average_opening_2, my_oddBe_2) %>
                            </td>
                        </tr>
                        <tr>
                            <td>Max</td>
                            <td class="<%= im_positive(dropping_me(max_opening_1, my_oddBas_1)) %>" >
                                <%= dropping_me(max_opening_1, my_oddBas_1) %> % <% ma1 = dropping_me(max_opening_1, my_oddBe_1) %>
                            </td>
                            <td class="<%= im_positive(dropping_me(max_opening_X, my_oddBas_X)) %>">
                                <%= dropping_me(max_opening_X, my_oddBas_X) %> % <% maN = dropping_me(max_opening_X, my_oddBe_X) %>
                            </td>
                            <td class="<%= im_positive(dropping_me(max_opening_2, my_oddBas_2)) %>" >
                                <%= dropping_me(max_opening_2, my_oddBas_2) %> % <% ma2 = dropping_me(max_opening_2, my_oddBe_2) %>
                            </td>
                        </tr>
                        <tr>
                            <td>Min</td>
                            <td class="<%= im_positive(dropping_me(min_opening_1, my_oddBas_1)) %>" >
                                <%= dropping_me(min_opening_1, my_oddBas_1) %> % <% mi1 = dropping_me(min_opening_1, my_oddBe_1) %>
                            </td>
                            <td class="<%= im_positive(dropping_me(min_opening_X, my_oddBas_X)) %>" >
                                <%= dropping_me(min_opening_X, my_oddBas_X) %> % <% miN = dropping_me(min_opening_X, my_oddBe_X) %>
                            </td>
                            <td class="<%= im_positive(dropping_me(min_opening_2, my_oddBas_2)) %>" >
                                <%= dropping_me(min_opening_2, my_oddBas_2) %> % <% mi2 = dropping_me(min_opening_2, my_oddBe_2) %>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <h6>Forme</h6>
                <table style="text-align: center;" class="table table-striped table-bordered border-secondary" data-toggle="table">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col">Type</th>
                            <th scope="col">1</th>
                            <th scope="col">N</th>
                            <th scope="col">2</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr>
                            <td>Average</td>
                            <td class="<%= im_positive(dropping_me(average_opening_1, my_oddBe_1)) %>" > 
                                <%= dropping_me(average_opening_1, my_oddBe_1) %> % <% av1 = dropping_me(average_opening_1, my_oddBe_1) %>
                            </td>
                            <td class="<%= im_positive(dropping_me(average_opening_X, my_oddBe_X)) %>" >
                                <%= dropping_me(average_opening_X, my_oddBe_X) %> % <% avN = dropping_me(average_opening_X, my_oddBe_X) %>
                            </td>
                            <td class="<%= im_positive(dropping_me(average_opening_2, my_oddBe_2)) %>" >
                                <%= dropping_me(average_opening_2, my_oddBe_2) %> % <% av2 = dropping_me(average_opening_2, my_oddBe_2) %>
                            </td>
                        </tr>
                        <tr>
                            <td>Max</td>
                            <td class="<%= im_positive(dropping_me(max_opening_1, my_oddBe_1)) %>" >
                                <%= dropping_me(max_opening_1, my_oddBe_1) %> % <% ma1 = dropping_me(max_opening_1, my_oddBe_1) %>
                            </td>
                            <td class="<%= im_positive(dropping_me(max_opening_X, my_oddBe_X)) %>">
                                <%= dropping_me(max_opening_X, my_oddBe_X) %> % <% maN = dropping_me(max_opening_X, my_oddBe_X) %>
                            </td>
                            <td class="<%= im_positive(dropping_me(max_opening_2, my_oddBe_2)) %>" >
                                <%= dropping_me(max_opening_2, my_oddBe_2) %> % <% ma2 = dropping_me(max_opening_2, my_oddBe_2) %>
                            </td>
                        </tr>
                        <tr>
                            <td>Min</td>
                            <td class="<%= im_positive(dropping_me(min_opening_1, my_oddBe_1)) %>" >
                                <%= dropping_me(min_opening_1, my_oddBe_1) %> % <% mi1 = dropping_me(min_opening_1, my_oddBe_1) %>
                            </td>
                            <td class="<%= im_positive(dropping_me(min_opening_X, my_oddBe_X)) %>" >
                                <%= dropping_me(min_opening_X, my_oddBe_X) %> % <% miN = dropping_me(min_opening_X, my_oddBe_X) %>
                            </td>
                            <td class="<%= im_positive(dropping_me(min_opening_2, my_oddBe_2)) %>" >
                                <%= dropping_me(min_opening_2, my_oddBe_2) %> % <% mi2 = dropping_me(min_opening_2, my_oddBe_2) %>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-12">
    
                <table style="text-align: center;" class="table table-striped table-bordered border-secondary"
                    data-toggle="table">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col">Type</th>
                            <th scope="col">1</th>
                            <th scope="col">N</th>
                            <th scope="col">2</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr>
                            <td>Prediction / forme</td>
                            <td
                                class="<%= im_positive((dropping_me(my_odd_1, my_oddBe_1)).toFixed(2)) %>">
                                <%= dropping_me(my_odd_1, my_oddBe_1).toFixed(2) %> %
                            </td>
                            <td
                                class="<%= im_positive((dropping_me(my_odd_X, my_oddBe_X)).toFixed(2)) %>">
                                <%= dropping_me(my_odd_X, my_oddBe_X).toFixed(2) %> %
                            </td>
                            <td
                                class="<%= im_positive((dropping_me(my_odd_2, my_oddBe_2)).toFixed(2)) %>">
                                <%= dropping_me(my_odd_2, my_oddBe_2).toFixed(2) %> %
                            </td>
                        </tr>
                        <tr>
                            <td>Basic / forme</td>
                            <td
                                class="<%= im_positive((dropping_me(my_oddBas_1, my_oddBe_1)).toFixed(2)) %>">
                                <%= dropping_me(my_oddBas_1, my_oddBe_1).toFixed(2) %> %
                            </td>
                            <td
                                class="<%= im_positive((dropping_me(my_oddBas_X, my_oddBe_X)).toFixed(2)) %>">
                                <%= dropping_me(my_oddBas_X, my_oddBe_X).toFixed(2) %> %
                            </td>
                            <td
                                class="<%= im_positive((dropping_me(my_oddBas_2, my_oddBe_2)).toFixed(2)) %>">
                                <%= dropping_me(my_oddBas_2, my_oddBe_2).toFixed(2) %> %
                            </td>
                        </tr>
                        <tr>
                            <td>Prediction</td>
                            <td class="<%= good_form(coteBe[0]) %>">
                                <%= parseFloat(coteFte[0]).toFixed(2) %> %
                            </td>
                            <td class="<%= good_form(coteBe[1]) %>">
                                <%= parseFloat(coteFte[1]).toFixed(2) %> %
                            </td>
                            <td class="<%= good_form(coteBe[2]) %>">
                                <%= parseFloat(coteFte[2]).toFixed(2) %> %
                            </td>
                        </tr>
                        <tr>
                            <td>Basic</td>
                            <td class="<%= good_form(coteBe[0]) %>">
                                <%= parseFloat(coteBasic[0]).toFixed(2) %> %
                            </td>
                            <td class="<%= good_form(coteBe[1]) %>">
                                <%= parseFloat(coteBasic[1]).toFixed(2) %> %
                            </td>
                            <td class="<%= good_form(coteBe[2]) %>">
                                <%= parseFloat(coteBasic[2]).toFixed(2) %> %
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br>

        <!--<div class="row">
            <div class="col-12">

            <h6>[Goals pred.] - [Forme]</h6>
            <table style="text-align: center;" class="table table-striped table-bordered border-secondary" data-toggle="table">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">Type</th>
                        <th scope="col">1</th>
                        <th scope="col">N</th>
                        <th scope="col">2</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td>Average</td>
                        <td class="<%= im_positive((dropping_me(average_opening_1, my_oddBe_1) - dropping_me(average_opening_1, my_odd_1)).toFixed(2)) %>">
                            <%= (dropping_me(average_opening_1, my_oddBe_1) - dropping_me(average_opening_1, my_odd_1)).toFixed(2) %> %
                        </td>
                        <td class="<%= im_positive((dropping_me(average_opening_X, my_oddBe_X) - dropping_me(average_opening_X, my_odd_X)).toFixed(2)) %>">
                            <%= (dropping_me(average_opening_X, my_oddBe_X) - dropping_me(average_opening_X, my_odd_X)).toFixed(2) %> %
                        </td>
                        <td class="<%= im_positive((dropping_me(average_opening_2, my_oddBe_2) - dropping_me(average_opening_2, my_odd_2)).toFixed(2)) %>">
                            <%= (dropping_me(average_opening_2, my_oddBe_2) - dropping_me(average_opening_2, my_odd_2)).toFixed(2) %> %
                        </td>
                    </tr>
                    <tr>
                        <td>Max</td>
                        <td class="<%= im_positive((dropping_me(max_opening_1, my_oddBe_1) - dropping_me(max_opening_1, my_odd_1)).toFixed(2)) %>">
                            <%= (dropping_me(max_opening_1, my_oddBe_1) - dropping_me(max_opening_1, my_odd_1)).toFixed(2) %> %
                        </td>
                        <td class="<%= im_positive((dropping_me(max_opening_X, my_oddBe_X) - dropping_me(max_opening_X, my_odd_X)).toFixed(2)) %>">
                            <%= (dropping_me(max_opening_X, my_oddBe_X) - dropping_me(max_opening_X, my_odd_X)).toFixed(2) %> %
                        </td>
                        <td class="<%= im_positive((dropping_me(max_opening_2, my_oddBe_2) - dropping_me(max_opening_2, my_odd_2)).toFixed(2)) %>">
                            <%= (dropping_me(max_opening_2, my_oddBe_2) - dropping_me(max_opening_2, my_odd_2)).toFixed(2) %> %
                        </td>
                    </tr>
                    <tr>
                        <td>Min</td>
                        <td class="<%= im_positive((dropping_me(min_opening_1, my_oddBe_1) - dropping_me(min_opening_1, my_odd_1)).toFixed(2)) %>">
                            <%= (dropping_me(min_opening_1, my_oddBe_1) - dropping_me(min_opening_1, my_odd_1)).toFixed(2) %> %
                        </td>
                        <td class="<%= im_positive((dropping_me(min_opening_X, my_oddBe_X) - dropping_me(min_opening_X, my_odd_X)).toFixed(2)) %>">
                            <%= (dropping_me(min_opening_X, my_oddBe_X) - dropping_me(min_opening_X, my_odd_X)).toFixed(2) %> %
                        </td>
                        <td class="<%= im_positive((dropping_me(min_opening_2, my_oddBe_2) - dropping_me(min_opening_2, my_odd_2)).toFixed(2)) %>">
                            <%= (dropping_me(min_opening_2, my_oddBe_2) - dropping_me(min_opening_2, my_odd_2)).toFixed(2) %> %
                        </td>
                    </tr>
                </tbody>
            </table>  
            </div>          
        </div>-->

        
        
        

        
        

        <!--<br>

        <form action="/event_detail/KaForm/<%- idMatch -%>/<%- infos.hometeam.name -%>/<%- infos.awayteam.name -%>/<%- infos.time -%>/<%- av1 -%>/<%- avN -%>/<%- av2 -%>/<%- ma1 -%>/<%- maN -%>/<%- ma2 -%>/<%- mi1 -%>/<%- miN -%>/<%- mi2 -%>" method="POST">

            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="whoWin">Winner</label>
                        </div>
                        <select class="custom-select" name="whoWin" id="whoWin">
                          <option selected>Choose...</option>
                          <option value="0">Home</option>
                          <option value="1">Draw</option>
                          <option value="2">Away</option>
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-primary">Ecrire</button>
                </div>
            </div>
        </form>
        <br>-->

        <!--<div class="row">
            
            <div class="col-md-4 offset-md-4">
                <% if (model_prob) { %> 
                    <div class="alert alert-primary" role="alert">
                        Home: <%= model_prob[0] %> Draw: <%= model_prob[1] %> Away: <%= model_prob[2] %> 
                    </div>
                <%} else { %> 
                <a class="btn btn-outline-primary" 
                href="/event_detail/sayMe/
                <%- idMatch -%>/<%- av1 -%>/<%- avN -%>/<%- av2 -%>/<%- ma1 -%>/<%- maN -%>/<%- ma2 -%>/<%- mi1 -%>/<%- miN -%>/<%- mi2 -%>/
                <%- coteBe[0] -%>/<%- coteFte[1] -%>/<%- coteFte[2] -%>">Say me who will win</a>
                <% } %> 
            </div>
        </div>-->
        
        <br>

        <% 
            }; 
        %>

        <button class="btn btn-light btn-md btn-block" type="button" data-toggle="collapse" data-target="#detail_drop_by_book" aria-expanded="false" aria-controls="detail_drop_by_book">
        DETAIL DROP BY BOOK
        </button>

        <br>
        <div class="collapse multi-collapse" id="detail_drop_by_book">
        <table class="table table-striped table-bordered border-secondary" data-toggle="table">
            <thead>
                <tr style="text-align: center;">
                    <th scope="col" data-sortable="true">Bookmaker</th> <!-- Average of Bookmaker -->
                    <th scope="col" data-sortable="true">1</th>
                    <th scope="col" data-sortable="true">N</th>
                    <th scope="col" data-sortable="true">2</th>
                </tr>
            </thead>

            <tbody>
                <% 
                    Object.keys(opening_of_each_book).forEach(function(book){ 
                            
                        opening_1 = opening_of_each_book[book][1], 
                        opening_X = opening_of_each_book[book][2], 
                        opening_2 = opening_of_each_book[book][3],
                        live_1 = live_of_each_book[book][1], 
                        live_X = live_of_each_book[book][2], 
                        live_2 = live_of_each_book[book][3],
                        date_live = moment(live_of_each_book[book][4]).add(2,'h').format('lll'), //YYYY MMM D HH:mm
                        un_book = opening_of_each_book[book][0];

                    %>
                <tr>
                    <td>
                        <%= date_live %> / <%= un_book %>
                    </td>
                
                    <td>
                        <%= dropping_me(live_1, opening_1) %> %
                    </td>
                    <td>
                        <%= dropping_me(live_X, opening_X) %> %
                    </td>
                    <td>
                        <%= dropping_me(live_2, opening_2) %> %
                    </td>
                
                </tr>

                <% 
                    }); 
                %>
            </tbody>
        </table>
    </div>

        <p style="font-weight: bold;"><%= infos.hometeam.name %> - <%= infos.awayteam.name %> | <%= moment(infos.time).add(2,'h').format('lll') %></p>
               
        <%- include('include/footer') -%>