<%- include('include/header') -%>
<%
function im_positive(my_number){
    var res;
    if(parseFloat(my_number) > 0){
        res = "table-success";
    }
    else if(parseFloat(my_number) < 0){
        res = "table-danger";
    }
    else if(parseFloat(my_number) < -1 || parseFloat(my_number) > 1){
        res = "table-warning";
    }
    else{
        res = "table-default";
    }
    return res;
}

function numAverage(a) {
    var b = a.length,
    c = 0, i;
    for (i = 0; i < b; i++) { 
        c +=Number(a[i]); 
    } 
    return parseFloat((c/b).toFixed(2)); 
}
%>

<div class="row">
    <div class="col-10 offset-1" style="text-align: center;">
        <h2><%= select_event.team1 %> - <%= select_event.team2 %></h2>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1" style="text-align: center;">
        <h5><%= select_event.league %> - <%= moment(select_event.date).format('lll') %></h5>
    </div>
</div>

<% if(select_event.score1 != '' && select_event.score2 != '') { %> 
<div class="row">
    <div class="col-10 offset-1" style="text-align: center;">
        <h5><%= select_event.proj_score1 %> | <%= select_event.score1 %> - <%= select_event.score2 %> | <%= select_event.proj_score2 %></h5>
    </div>
</div>
<% } else { %>
    <div class="row">
        <div class="col-10 offset-1" style="text-align: center;">
            <h5><%= select_event.proj_score1 %> - <%= select_event.proj_score2 %></h5>
        </div>
    </div>
<% } %> 

<br>

<div class="row">
    <div class="col-8 offset-2" style="text-align: center;">
        <table class="table table-striped table-bordered border-secondary" data-toggle="table">
            <thead>
                <tr>
                    <th scope="col">INFOS</th>
                    <th scope="col">HOME</th>
                    <th scope="col">AWAY</th>                   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        xG / PROJ SOCRE
                    </td>
                    <td class="<%= im_positive(numAverage(diffs_xg_proj_score[0])) %>">
                        <%= numAverage(diffs_xg_proj_score[0]) %>
                    </td>
                    <td class="<%= im_positive(numAverage(diffs_xg_proj_score[1])) %>">
                        <%= numAverage(diffs_xg_proj_score[1]) %>
                    </td>
                </tr>
                <tr>
                    <td>
                        SCORE / PROJ SOCRE
                    </td>
                    <td class="<%= im_positive(numAverage(diffs_score_proj_score[0])) %>">
                        <%= numAverage(diffs_score_proj_score[0]) %>
                    </td>
                    <td class="<%= im_positive(numAverage(diffs_score_proj_score[1])) %>">
                        <%= numAverage(diffs_score_proj_score[1]) %>
                    </td>
                </tr>
                <tr>
                    <td>
                        AVG xG OVERALL
                    </td>
                    <td>
                        <%= numAverage(last_xg[0]) %>
                    </td>
                    <td>
                        <%= numAverage(last_xg[1]) %>
                    </td>
                </tr>
                <tr>
                    <td>
                        AVG xG LAST 10
                    </td>
                    <td class="<%= im_positive(numAverage(last_xg[0].slice(0,11)) - numAverage(last_xg[0])) %>">
                        <%= numAverage(last_xg[0].slice(0,11)) %>
                    </td>
                    <td class="<%= im_positive(numAverage(last_xg[1].slice(0,11)) - numAverage(last_xg[1])) %>">
                        <%= numAverage(last_xg[1].slice(0,11)) %>
                    </td>
                </tr>
                <tr>
                    <td>
                        AVG xG LAST 5
                    </td>
                    <td class="<%= im_positive(numAverage(last_xg[0].slice(0,6)) - numAverage(last_xg[0].slice(0,11))) %>">
                        <%= numAverage(last_xg[0].slice(0,6)) %>
                    </td>
                    <td class="<%= im_positive(numAverage(last_xg[1].slice(0,6)) - numAverage(last_xg[1].slice(0,11))) %>">
                        <%= numAverage(last_xg[1].slice(0,6)) %>
                    </td>
                </tr>
                <tr>
                    <td>
                        LAST
                    </td>
                    <td class="<%= im_positive(numAverage(last_xg[0].slice(0,1)) - numAverage(last_xg[0].slice(0,6))) %>">
                        <%= numAverage(last_xg[0].slice(0,1)) %>
                    </td>
                    <td class="<%= im_positive(numAverage(last_xg[1].slice(0,1)) - numAverage(last_xg[1].slice(0,6))) %>">
                        <%= numAverage(last_xg[1].slice(0,1)) %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
<br>
 
<div class="row">
    <div class="col-6">
        <table class="table table-striped table-bordered border-secondary" data-toggle="table">
            <thead>
                <tr>
                    <th data-sortable="true" scope="col">DATE</th>
                    <th data-sortable="true" scope="col">LEAGUE</th>
                    <th scope="col">TEAMS</th>
                    <th scope="col">SCORE</th>    
                    <th scope="col">xG</th> 
                    <th scope="col">FORM</th>                      
                </tr>
            </thead>
            <tbody>
                <% var i = 0; last_event[0].forEach(element=> { 
                    detail_home = last_detail[0]
                    var score1 = parseFloat(detail_home[i].score1)
                    var xg1 = parseFloat(detail_home[i].xg1)
                    var proj_score1 = parseFloat(detail_home[i].proj_score1)
                    
                %>
                    <tr>
                        <td>
                            <%= moment(element.date).format("YYYY-MM-DD") %>
                        </td>
                        <td>
                            <%= (element.league).substring(0, 30) %>
                        </td>
                        <td>
                            <a target="_blank" href="/five_soccer_event/<%- element.team1 %>/<%- element.team2 %>/<%- element.date %>" style="text-decoration:none; color: inherit;"><%= element.team1 %> - <%= element.team2 %></a> 
                        </td>
                        </td>
                        <td>
                            <%= element.score1 %> - <%= element.score2 %>
                        </td>
                        <td>
                            <%= element.xg1 %> - <%= element.xg2 %>
                        </td>
                        <!--<td>
                            <%= (((2/(1/parseFloat(element.spi1) + 1/parseFloat(element.spi2))) + ((parseFloat(element.importance1) + parseFloat(element.importance2))/2))/2).toFixed(2) %>
                        </td>-->
                        <td class="<%= im_positive((score1 - xg1)) %>">
                            <%= (score1 - xg1).toFixed(2) %>
                        </td>
                    </tr>
                <% i+=1 }); %>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-striped table-bordered border-secondary" data-toggle="table">
            <thead>
                <tr>
                    <th data-sortable="true" scope="col">DATE</th>
                    <th data-sortable="true" scope="col">LEAGUE</th>
                    <th scope="col">TEAMS</th>
                    <th scope="col">SCORE</th>    
                    <th scope="col">xG</th> 
                    <th scope="col">FORM</th>                    
                </tr>
            </thead>
            <tbody>
                <% var k = 0; last_event[1].forEach(element=> { 
                    detail_home = last_detail[1]
                    var score2 = parseFloat(detail_home[k].score2)
                    var xg2 = parseFloat(detail_home[k].xg2)
                 %>
                    <tr>
                        <td>
                            <%= moment(element.date).format("YYYY-MM-DD") %>
                        </td>
                        <td>
                            <%= (element.league).substring(0, 30) %>
                        </td>
                        <td>
                            <a target="_blank" href="/five_soccer_event/<%- element.team1 %>/<%- element.team2 %>/<%- element.date %>" style="text-decoration:none; color: inherit;"><%= element.team1 %> - <%= element.team2 %></a> 
                        </td>
                        </td>
                        <td>
                            <%= element.score1 %> - <%= element.score2 %>
                        </td>
                        <td>
                            <%= element.xg1 %> - <%= element.xg2 %>
                        </td>
                        <!--<td>
                            <%= (((2/(1/parseFloat(element.spi1) + 1/parseFloat(element.spi2))) + ((parseFloat(element.importance1) + parseFloat(element.importance2))/2))/2).toFixed(2) %>
                        </td>-->
                        <td class="<%= im_positive(score2 - xg2) %>">
                            <%= (score2 - xg2).toFixed(2) %>
                        </td>
                    </tr>
                <% k+=1 }); %>
            </tbody>
        </table>
    </div>
</div>
        

<%- include('include/footer') -%>