<%- include('include/header') -%>

 
        <table class="table table-striped table-bordered border-secondary" data-toggle="table" data-search="true" data-pagination="true">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th data-sortable="true" scope="col">League</th>
                    <th scope="col">Teams</th>
                    <th data-sortable="true"  scope="col">XG</th>  
                    <th scope="col">Score</th>  
                    <th scope="col">Imp.</th> 
                    <th scope="col">Rating</th>                    
                </tr>
            </thead>
            <tbody>
                <% data.forEach(element=> {  %>
                    <% 
                        var id_element = element.league_id
                        var nbDay = 120;
                        var min_quality = 15; 
                        var quality = (((2/(1/parseFloat(element.spi1) + 1/parseFloat(element.spi2))) + ((parseFloat(element.importance1) + parseFloat(element.importance2))/2))/2).toFixed(2);
                        
                        if ( quality > min_quality && moment(element.date) < moment().add(7, 'days') && moment(element.date) > moment().subtract(nbDay, 'days') && moment(element.date) < moment().add(nbDay, 'days') && (id_element != 7921 && id_element != 1983 && id_element != 2413 && id_element != 2414 && id_element != 2160 && id_element != 4582)){ 
                    %>
                    <tr>
                        <td>
                            <%= moment(element.date).format("DD-MM-YYYY") %>
                        </td>
                        <td>
                            <a target="_blank" href="/five_soccer_event/<%- element.team1 %>/<%- element.team2 %>/<%- element.date %>" style="text-decoration:none; color: inherit;"><%= (element.league).substring(0, 30) %></a> 
                        </td>
                        <td>
                            <%= (element.team1).substring(0, 15) %> - <%= (element.team2).substring(0, 15) %>
                        </td>
                        </td>
                        <td>
                            <%= element.proj_score1 %> - <%= element.proj_score2 %>
                        </td>
                        <td>
                            <%= element.score1 %> - <%= element.score2 %>
                        </td>
                        <td>
                            <%= element.importance1 %> - <%= element.importance2 %>
                        </td>
                        <td>
                            <%= (((2/(1/parseFloat(element.spi1) + 1/parseFloat(element.spi2))) + ((parseFloat(element.importance1) + parseFloat(element.importance2))/2))/2).toFixed(2) %>
                        </td>
                    </tr>
                    <% }; %>
                <% }); %>
            </tbody>
        </table>

<%- include('include/footer') -%>