<%- include('include/header') -%>

<form action="" method="POST">
    <div class="row" >
        <div class="col-3">
            <input type="date" name="dateMatch" id="dateMatch" class="input-group date">
            
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary btn-sm">Valider</button>
        </div>
    </div>
</form>

    
    <br>

    <% Object.keys(items).forEach(function(Leagues){ %>

        <h5>
            <%= items[Leagues].name %> / <%= items[Leagues].id %>
        </h5>

        <% events=items[Leagues].events %>
            <table class="table table-striped table-bordered border-secondary" data-toggle="table">
                <thead>
                    <tr>
                        <th scope="col">Home</th>
                        <th scope="col">Away</th>
                        <th scope="col">Status</th>
                        <th data-sortable="true" scope="col">Date</th>
                        <th scope="col">Detail 1N2</th>
                    </tr>
                </thead>

                <tbody>
                    <% Object.keys(events).forEach(function(Event){ %>
                        <tr>
                            <td>
                                <%= events[Event].hometeam_name %>
                            </td>
                            <td>
                                <%= events[Event].awayteam_name %>
                            </td>
                            <td>
                                <% if(events[Event].livescore){ %> <%= events[Event].livescore.status %> <% if(events[Event].livescore.value){ %> / <%= events[Event].livescore.value %> <% }} %>
                            </td>
                            <td>
                                <%= moment(events[Event].time).add(1,'h').format('lll') %>
                            </td>
                            <td>
                                <a target="_blank" href="/event_detail_2/<%- events[Event].id -%>"><i>Détail 1N2</i></a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <br>
            <% }) %>


                <%- include('include/footer') -%>